@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);

$text: #444;
$bg: #80EFA6;
$white: #FFF;

html, body {
  background: $bg;
  color: $text;
  font: normal 20px/30px 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 3rem auto 6rem;
  padding: 0 2rem;
}

h1 {
  font-size: 3rem;
  border-top: 1rem solid $white;
  border-bottom: 2rem solid $white;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 1rem;
  font-size: 1rem;
}
